{% extends 'td/base.html' %}
{% block content_header %}
    <a href="#" class="btn btn-warning">какая-то кнопка</a>
{% endblock %}
{% block body %}
    <h3>{{ data.0.budget_subitem.name }} {{ month }} {{ year }}</h3>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Статья</th>
                <th>Бюджет</th>
                <th>Факт</th>
            </tr>
        </thead>
        <tbody>
        {% for row in data %}
            <tr>
                <td>
                    <b>{{ row.car.name }}</b>
                </td>
                <td>
                    {{ row.amount }}
                </td>
                <td>
                    ...
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}