{% extends 'service/base.html' %}
{% load extra_tags %}

{% block content_header %}
    <h3>{{ title }}</h3>
    <span>
        {% paginator tickets %}
        <a href="{% url 'service:ticket_new' %}" class="btn btn-sm btn-success">Добавить</a>
    </span>
{% endblock %}

{% block main %}
    {% if is_mobile %}
        {% for ticket in tickets %}
            <div class="card-list-item">
                <div class="header">
                    {% if ticket.close_date %}
                        <i class="fa fa-check-square-o" aria-hidden="true"></i>
                    {% else %}
                        <i class="fa fa-square-o" aria-hidden="true"></i>
                    {% endif %}
                    <a href="{% url 'service:ticket_info' uid=ticket.id %}">{{ ticket.subject }}</a>
                    ({{ ticket.provider }})
                </div>
                <div class="body">
                    {{ ticket.issue|empty }} <br/>
                    {{ ticket.text|cut_length:100 }}
                </div>
                <div class="footer">
                    {% if not ticket.close_date %}
                        <!--<a class="btn btn-sm btn-info" href="{% url 'service:ticket_edit' uid=ticket.id %}" title="Редактировать">
                            <i class="fa fa-pencil" aria-hidden="true"></i>
                        </a>-->
                        <a class="btn btn-sm btn-success" href="{% url 'service:ticket_close' uid=ticket.id %}?return=ticket_list" title="Закрыть">
                            <i class="fa fa-check-square-o" aria-hidden="true"></i> Закрыть
                        </a>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    {% else %}
        <table class="table table-xs">
            <thead>
                <tr>
                    <th>Тема</th>
                    <th>Служба</th>
                    <th>Замечание</th>
                    <th>Текст заявки</th>
                    <th width="80">Действия</th>
                </tr>
            </thead>
            <tbody>
            {% for ticket in tickets %}
                <tr>
                    <td><a href="{% url 'service:ticket_info' uid=ticket.id %}">{{ ticket.subject }}</a></td>
                    <td>{{ ticket.provider }}</td>
                    <td>{{ ticket.issue|empty }}</td>
                    <td>{{ ticket.text|cut_length:100 }}</td>
                    <td>
                        {% if not ticket.close_date %}
                            <a class="btn btn-sm btn-success" href="{% url 'service:ticket_close' uid=ticket.id %}?return=ticket_list" title="Закрыть">
                                <i class="fa fa-check-square-o" aria-hidden="true"></i>
                            </a>
                            {% if not ticket.mail_sent %}
                                <a href="{% url 'service:ticket_resend_email' uid=ticket.id %}" class="btn btn-sm btn-danger" title="Отправить письмо заново">
                                    <i class="fa fa-envelope-o" aria-hidden="true"></i> !
                                </a>
                            {% endif %}
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
    <br/>
    {% paginator tickets %}
{% endblock %}