{% extends 'td/base.html' %}
{% load staticfiles %}
{% load extra_tags %}
{% block body %}

    {% include 'canedar_static.html' %}

    <form class="form" action="" method="post">
        {% csrf_token %}
        <h3>Новая запись расходов</h3><br/>
            {% table_form form %}
        <input type="submit" value="Добавить" class="btn btn-success" />
    </form>

{% endblock %}
{% block scripts %}
    <script>
        var drivers = JSON.parse("{{ drivers|escapejs }}");
        var budget_selector = '{{ budget_selector|escapejs }}';
    </script>
    <script src="{% static 'td/js/expense_new.js' %}"></script>
{% endblock %}